<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%block linkage%} {%endblock%}
    <title>{% block title %} {%endblock%}</title>

    <link {%block link%} {%endblock%}>


    <style>
      {% block css%} {% endblock %}
    </style>
  </head>
  <body>
  {% load static %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <i class="fa-solid fa-cart-circle-plus"></i>
    <a class="navbar-brand" href="/"><img src="{% static 'shop/shop-icon.png' %}" height="30" alt="" loading="lazy" style="margin-top: -1px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/"> ShopNow </a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link " href="#">checkout</a>-->
<!--        <li class="nav-item">-->
          <a class="nav-link" href="/shop/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/contact/">Contact us</a>
        </li>
      </ul>

    </div>

<!--    <img src="{% static 'shop/d7.png' %}" height="25" width="30" alt="" loading="lazy" style="margin-top: -2px">-->
    <form  method="post" action="/shop/search_items/" id="testsearch" class="d-flex"  role="search">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="desc1" name="desc1">
        <button class="btn btn-outline-success" id="bdesc1" type="submit">Search</button>
      </form>

            <a class="btn btn-primary mx-4"href="/shop/cart/9481" width="300" height="100"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"width="20" height="20"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"/></svg>
<!--                <div class="cart_quantity" id="cart_quantity" style="position: absolute;top: 7px;text-align: center;border-radius: 7px;-->
<!--    width: 18px;height: 18px;background-color: #ff6161;border: 1px solid #fff;font-weight: 400;color: #f0f0f0;line-height: 16px;font-size: 12px;">1</div>-->
                Cart</a>

     {% if user.is_authenticated%}

   <div class="nav-item dropdown mx-2">
        <a class="nav-link userbt btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user}}
        </a>
        <div class="dropdown-menu my-2" style="min-width:9rem; text-align:center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  style="background-color:#D0D0D0;" href="/shop/order_history">Order_history</a>
<!--            <p class="dropdown-divider">-->
<!--            <hr>-->
          <a class="dropdown-item"  href="/shop/logout_check">Logout</a>
        </div>
   </div>
  {%else%}

         <form action="/shop/login_check">
         <button type="submit" class="btn btn-info mx-1" >Log-in</button>
        </form>
    {%endif%}
  </div>
</nav>
  <div style="padding-top:50px;"></div>
 <!--<script src="https://kit.fontawesome.com/3dbdfeb941.js" crossorigin="anonymous"></script>-->
  {%block body %} {% endblock %}

<!--<script src="https://kit.fontawesome.com/3dbdfeb941.js" crossorigin="anonymous"></script>-->



{%block jss%} {% endblock%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

