{% extends 'shop/basic.html' %}

{% load static %}
{% block title%}Home page{% endblock %}

 {%block link%} rel="shortcut icon" type="image/png"  href="{% static 'shop/cart.png' %}"
    {%endblock%}



{% block css%}
        .col-md-3
      {
      display:inline-block;
      margin-left:-4px
      }
      .carousel-indicators .active{
      background-color:blue;
      }
      .col-md-3 img{
      width:200px;
      height:220px;
      }

      body .carousel-indicator li{
      background-color: green;
      }
      body .carousel-indicators{
          bottom: 0;
      }
      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
      background-color: blue;
      }
      .carousel-control-prev,
      .carousel-control-next{
      top: auto;
      bottom: auto;
      padding-top: 222px;
      }
      body .no-padding{
      padding-left= 0;
      padding-right= 0;
      }
    .card-img, .card-img-bottom, .card-img-top {
    width: 80%;
    }
    body{
        background-color:#E5E4E2;
    }
<!--    .cart_quantity{-->
<!--        display:none;-->
<!--    }-->
<!--    .cart_quantity:after{-->
<!--        content: "{{qu}}";-->
<!--    }-->

{% endblock %}

{%block body %}
{% load static %}
{% for message in messages %}
<!--      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">-->
<!--        <strong>meassage</strong> {{message}}-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--      </div>-->
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong>{{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times</span>
      </button>
    </div>
{%endfor%}
<div class="container py-4">
<!--    <image src="{% static P_image %} " width="200" height="200"></image>-->
<!--    <div class="row">-->
<!--        {% for i in dit %}-->
<!--            <div class="card align-items-center" style="width: 17rem;">-->
<!--                <img src="{% static i.P_image %}" class="card-img-top my-2 mx-4" alt="..." width="80" height="200">-->
<!--                <div class="card-body">-->
<!--                      <h6 class="card-title"><b>{{i.Pname}}</b></h6>-->
<!--                        <b><p>RS.{{i.P_price}}</p></b>-->
<!--                            <p class="card-text">{{i.P_desc|slice:"0:52"}}...</p>-->
<!--            &lt;!&ndash;          <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>&ndash;&gt;-->
<!--                    <a href="/shop/cart/{{i.Pid}}"><button type="button" class="btn btn-primary btn-sm my-4  cart"id = "{{i.Pid}}" onclick='myFunction({{i.Pid}})' ><span id="cart">Add to cart</span></button></a>-->
<!--                        <a href="/shop/prodview/{{i.Pid}}"> <button id="qv{{i.Pid}}" class="btn btn-primary btn-sm mx-2">QuickView</button></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->

    {%for dit,range,nslides,cat in allprods %}
    <h4 class="mx-4 my-3">{{cat}}</h4>
    <div class = "row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
               {% for i in range %}
                  <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
              {% endfor %}
            </ul>

            <div class="container carousel-inner no-padding">
              <div class="carousel-item active">
                {% for i in dit%}
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 17rem;">
                    <img src="{% static i.P_image %}" class="card-img-top my-3 mx-4" alt="..." width="90" height="200">
                    <div class="card-body">
                      <h6 class="card-title"><b>{{i.Pname}}</b></h6>
                        <b><p>RS.{{i.P_price}}</p></b>
                        <p class="card-text">{{i.P_desc|slice:"0:52"}}...</p>
                        {%if i.Pid in len%}
                            <a href="/shop/remove/{{i.Pid}}"><button type="button" class="btn btn-primary btn-sm my-4  cart" id = "{{i.Pid}}" onclick="Remove_from_the_cart('{{i.Pname}}','{{user.is_authenticated}}')"> Remove </button></a>
                        {%else%}
                         <a href="/shop/cart/{{i.Pid}}"><button type="button" class="btn btn-primary btn-sm my-4  cart" onclick="Add_to_cart('{{i.Pname}}','{{user.is_authenticated}}')"><span id="cart{{i.Pid}}">Add to cart</span></button></a>
                        {%endif%}
                        <a href="/shop/prodview/{{i.Pid}}"> <button id="qv{{i.Pid}}" class="btn btn-primary btn-sm mx-2">QuickView</button></a>
                    </div>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
              </div><div class="carousel-item ">
                {% endif %}

            {% endfor %}
            </div>

            </div>
        </div>
        <!-- left and right controls for the slide -->
            <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    <div style="padding-top:50px;"></div>
        {%endfor%}
</div>

{% endblock %}
{%block jss%}
<script>
      function quantity(quant){
            document.getElementById("cart_quantity").innerHTML = 12;
            console.log("ehllo");
      }

      function Add_to_cart(Pname,val) {
      if(val == 'True'){
            alert(Pname+" added to cart successfully")
        }
      }
      function Remove_from_the_cart(Pname,stat) {
        alert(Pname+" removed from cart!!!")

      }

  </script>
 {% endblock %}

