{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">QuickCart </h1>
      <p>Has over 1 lacs+ Customers</p>
      <p>We provide easy shopping and delivery. More discount offers ever!!!</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/Pramodnaik77/Shop_app" target="_blank" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Privacy Policy</h2>
        <p>We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices.

Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.

By visiting this Website you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Website.

By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Shipping and Delivery</h2>
        <p>We offer guaranteed delivery on certain delivery speeds and select products. When guaranteed delivery is available on an order, we'll state this on the checkout page, with the associated delivery date and cost.

If we provide a guaranteed delivery date and a delivery attempt isn't made by this date, we'll refund any shipping fees associated with that order.

The "order within" countdown timer provides the window of time in which you must place the order to receive your delivery by the date shown. The delivery day may become unavailable within that timeframe due to changes in inventory or delivery capacity before you place your order. Your confirmed delivery date is in your order confirmation email.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Returns Policy</h2>
        <p>For information about products that can't be returned, see Items that Can't be Returned.
To determine if a product sold by Quickcart.com has a longer return timeline, locate the product type below. If the product type isn't listed or doesn't state another returns time frame, our standard 30-day return policy applies.
While most sellers offer a returns policy equivalent to Quickcart's, some seller returns policies may vary. If the seller's listing is eligible for Quickcart Prime, it will be subject to the same return policies as items fulfilled by Quickcart.com that are outlined on this page. For more information about returning to third-party sellers, see Returns to Third-Party Sellers.
For products purchased from the Quickcart Global Store, see Quickcart Global Store Returns.
 </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}