{% extends 'shop/basic.html' %}
{% block title %} Cart{% endblock %}
{%block css %}
.demo{
    width:670px;
}
div.elem{
width:670px;
}

.text-center {
  text-align: center;
}

#price{
<!--display:flex;-->
<!--background-color:Red;-->
<!--background-size: 40px 40px;-->
    width:150px;
    height:336px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px;
<!--    padding:0px 0px 0px 16px;-->
    text-align: center;
}
.demo1{
    position: relative;
    width: 381px;
    height: 60px;
    left: -15px;

    font-size: large;
    display: block;
    text-transform: uppercase;
    padding: 18px 37px;
    font-weight: var(--font-medium);
    color: grey;

}
.demo2{
    position: relative;
    top:5px;
    width: 381px;
    height: 50px;
    left: -15px;

    font-size: medium;
    display: block;
    text-transform: uppercase;
    padding: 18px 37px;
    font-weight: var(--font-medium);
    color: black;

}


#desc1{
display:none;
}
#bdesc1{
display:none;
}


.ok{
    top:12px;
    position: relative;
    left: -17px;
    padding: 5px 37px;
    font-size: medium;
    display: block;
    font-weight: var(--font-medium);
    color: green;
}
.rate1 {
position: relative;
top:20px;
padding: 20px 24px;
}
.rate2 {
padding: 5px 24px;
}.rate3 {
padding: 2px 24px;
}
<!--.P-id {-->
<!--padding: 55px 26px;-->
<!--}-->




{%endblock%}
{% block body %}

{%load static%}



<!--        <div class="card my-4" style="width: 20rem; height:25rem;">-->
<!--              <image src="{% static 'shop/empty-cart.png' %} "></image>-->
<!--              <div class="card-body">-->
<!--                  <p>Cart is empty</p>-->
<!--              </div>-->
<!--            </div>-->


    {%if user.is_authenticated%}
         {%if len == 0%}
        <div class="container" style="padding-top:75px;">
            <div class="demo" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px; padding: 90px 332px 80px;width:1000px;height:500px;">
                <image src="{% static 'shop/empty-cart.png' %} " class="mx-3" width="221" height="162"></image>
                <br>
                <p class="empty px-5 py-3" style="font-size:20px">Your cart is empty!</p>
                <p class="empty px-5" style="font-size:14px">Add items to it now.</p>
                <a href="/shop"><button type="button" style="background-color:blue;color:white;width:200px;height:45px"class="btn mx-4 my-4 " width="120">Shop now</button></a>
            </div>
        </div>
        {%else%}
    <div class="container">
        <div class="row py-5">
<!--        <b><p class="length my-4">Total products in the cart: {{len}}</p></b>-->
        <div class="col-md-8" >
                {%for i in dict%}
                    <div class="elem{{i.P_id}}" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;">
                        <div class="row">
                            <div class="elem{{i.P_id}} col-md-6">
                                <div class="row my-3 mx-4">
                                    <image src="{% static i.P_image %} " width="150" height="150"></image>
                                </div>
                            </div>
                            <div class="elem{{i.P_id}} col-md-3 my-4">
                                <b><p>{{i.Pname}}</p></b>
                                <p>RS.{{i.P_price}}</p>
                                <div class="row">
                                    <a href="/shop/dec_item/{{i.Pid}}"><button type="button" class="btn btn-primary btn-xs mx-2" style="padding:1px 8px;text-align: center;">-</button></a>
                                     <span>{{i.P_quantity}}</span>
                                    <a href="/shop/inc_item/{{i.Pid}}"><button type="button" class="btn btn-primary btn-xs mx-2" style="padding:1px 6px;text-align: center;">+</button></a>

                                </div>
                                <a href="/shop/remove/{{i.Pid}}"><button type="button" class="btn btn-primary btn-sm my-4  cart" id = "{{i.Pid}}"> Remove </button></a>
            <!--                    <p>{{i.P_desc}}</p>-->

                            </div>
                        </div>
                    </div>
            {% endfor%}


            <div class="demo" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px; padding: 30px 30px 60px;" width="80px" height="10px">
                <a href="/shop/order/" style="background-color:#FF5F1F;color:white;width:200px;height:45px"class="btn float-right mx-4 " width="120">Place  Order</a>
            </div>
        </div>
            <div class="price col-md-4" id="price">
                 <div class="demo1" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px;">
                <p class="p_d">Price details</p>
                </div>
                <div class="rate1">
                     <div class="row">
                        <div class="col-md-9">
                    <p>Price ({{len}} items) </p>
                        </div>
                        <div class="col-md-3">
                            <span class="rate py-5">₹{{total}}</span>
                        </div>
                    </div>
                </div>
                <div class="rate2">
                     <div class="row">
                        <div class="col-md-9">
                    <p>Discount </p>
                        </div>
                        <div class="col-md-3">
                            <span class="rate py-5" style="color:green;">-₹{{dis}}</span>
                        </div>
                    </div>
                </div>
                <div class="rate3">
                     <div class="row">
                        <div class="col-md-9">
                    <p>Delivery </p>
                        </div>
                        <div class="col-md-3">
                            <span class="rate py-5" style="color:green;">FREE</span>
                        </div>
                    </div>
                </div>
                <div class="demo2" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px;">
                <div class="row">
                        <div class="col-md-9">
                    <b><p>Total </p></b>
                        </div>
                        <div class="col-md-3">
                            <b><span class="rate">₹{{tot}}</span></b>
                        </div>
                    </div>
                </div>
                <p class="ok">You will save ₹100 on this order</p>
            </div>
            </div>
            {%endif%}
        {%else%}
           <div class="container" style="padding-top:75px;">
                <div class="demo" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 2px; padding: 90px 332px 80px;width:1000px;height:500px;">
                    <image src="{% static 'shop/empty-cart.png' %} " class="mx-3" width="221" height="162"></image>
                    <br>
                    <p class="empty px-5 py-3" style="font-size:20px">Signin to add items!!!</p>
                    <a href="/shop/login_check"><button type="button" style="background-color:blue;color:white;width:200px;height:45px"class="btn mx-4 my-4 " width="120">Log in</button></a>
                </div>
            </div>

        {% endif %}

</div>
{%endblock%}