{% extends 'shop/basic.html' %}
{% block title %} About Us {% endblock %}
{% block css%}

      .form-control {
        resize: none;
      }

{% endblock %}

{% block body %}

<div class = "container">

    <form action="/shop/contact/" method="post">{% csrf_token %}
      <div class="form-group my-4 col-md-6">

          <label for="name">Name</label>
          <input type="name" class="form-control " id="name" name="name" placeholder="Enter Your Name">

        </div>

      <div class="form-group col-md-6">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number">
      </div>
    <div class="form-group col-md-6">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address">
    </div>
    <div class="row">
        <div class="form-group mx-3 col-md-4">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city name">
        </div>


        <div class="form-group  col-md-4">
          <label for="state">State</label>
          <select id="state" class="form-control" name="state">
            <option selected>select</option>
            <option>Karnataka</option>
            <option>Kerala</option>
            <option>Maharastra</option>
            <option>Uttara Khand</option>
            <option>Others</option>
          </select>
        </div>
     </div>
      <div class="form-group mx-3">
            <label for="desc">Enter your Feedback and Query</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
      </div>
      <div class="form-group form-check mx-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I accept all the terms and conditions</label>
      </div>
      <button type="submit" class="btn btn-success mx-3">Submit</button>
    </form>

</div>

{% endblock %}