<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Register</title>

  </head>
<!--<style>-->
<!--    body{-->
<!--        background-color:#E5E4E2;-->
<!--    }-->
<!--</style>-->
  <body>
  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'shop/kart.png' %}" height="30" alt="" loading="lazy" style="margin-top: -1px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/"> shopkart </a>
        </li>

      </ul>
    </div>


          <form action="../login_check" >
         <button type="submit" class="btn btn-info mx-4">Log-in</button>
        </form>

    </div>
  </div>
  </nav>
{% for message in messages %}
<!--      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">-->
<!--        <strong>meassage</strong> {{message}}-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--      </div>-->
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong>{{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times</span>
      </button>
    </div>
{%endfor%}
  <div class = "container ">
    <br>
    <h5 class="mx-3">Register Here</h5>
    <br>
    <form action="/shop/register/" method="post">{% csrf_token %}
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" name="name" required placeholder="Enter Your Name">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required name="password" placeholder="Enter password">
      </div>

      <div class="form-group col-md-6">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" required name="email" placeholder="Enter email">
      </div>

      <div class="form-group col-md-6">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" required placeholder="Enter phone number">
      </div>
      <div class="form-row mx-2">
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" required name="address" placeholder="Enter your address">
        </div>
        <div class="form-group col-md-3">
          <label for="pincode">Pincode</label>
          <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter pincode">
        </div>
      </div>


  <div class="form-row mx-2">
        <div class="form-group col-md-5">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" required name="city" placeholder="Enter your city name">
        </div>

        <div class="form-group col-md-4">
          <label for="state">State</label>
          <select id="state" class="form-control" name="state">
            <option selected>select</option>
<!--            <option>Karnataka</option>-->
<!--            <option>Kerala</option>-->
<!--            <option>Maharastra</option>-->
<!--            <option>Uttara Khand</option>-->
<!--            <option>Others</option>-->
            <option >Andaman &amp; Nicobar Islands</option>
            <option >Andhra Pradesh</option>
            <option >Arunachal Pradesh</option>
            <option >Assam</option><option va>Bihar</option>
            <option >Chandigarh</option>
            <option >Chhattisgarh</option>
            <option >Dadra &amp; Nagar Haveli &amp; Daman &amp; Diu</option>
            <option >Delhi</option>
            <option >Goa</option>
            <option >Gujarat</option>
            <option >Haryana</option>
            <option >Himachal Pradesh</option>
            <option >Jammu &amp; Kashmir</option>
            <option >Jharkhand</option>
            <option >Karnataka</option>
            <option >Kerala</option>
            <option >Ladakh</option>
            <option >Lakshadweep</option>
            <option >Madhya Pradesh</option>
            <option >Maharashtra</option>
            <option >Manipur</option>
            <option >Meghalaya</option>
            <option >Mizoram</option>
            <option >Nagaland</option>
            <option >Odisha</option>
            <option >Puducherry</option>
            <option >Punjab</option>
            <option >Rajasthan</option>
            <option >Sikkim</option>
            <option >Tamil Nadu</option>
            <option >Telangana</option>
            <option >Tripura</option>
            <option >Uttarakhand</option>
            <option >Uttar Pradesh</option>
            <option >West Bengal</option>
          </select>
        </div>
<!--        <div class="form-group col-md-3">-->
<!--          <label for="pin">Pincode</label>-->
<!--          <input type="text" class="form-control" id="pin" name="pin" placeholder="Pincode">-->
<!--        </div>-->
      </div>


      <div class="form-group form-check  mx-3">
        <input type="checkbox" class="form-check-input" required id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I accept all the terms and conditions</label>
      </div>
      <button type="submit" class="btn btn-success mx-3">Submit</button>
    </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>